.u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 826px;
}

.u-section-3-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 82px auto 0;
}

.u-section-3-1 .u-text-2 {
  width: 411px;
  margin: 20px auto 0;
}

.u-section-3-1 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/113.jpg");
  background-position: 50% 50%;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 198px;
    margin-left: 167px;
  }

  .u-section-3-1 .u-image-1 {
    width: 417px;
    height: 417px;
    margin-top: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 826px;
}

.u-section-3-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3-2 .u-text-2 {
  margin: 20px 326px 0 302px;
}

.u-section-3-2 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/hc2.jfif");
  background-position: 50% 50%;
  margin: 32px auto 60px 260px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 28px;
    margin-right: 265px;
  }

  .u-section-3-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 218px;
    margin-left: 202px;
  }

  .u-section-3-2 .u-image-1 {
    width: 397px;
    height: 397px;
    margin-top: 75px;
    margin-right: 256px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3-2 .u-text-1 {
    margin-right: 203px;
  }

  .u-section-3-2 .u-text-2 {
    margin-left: 92px;
    margin-right: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3-2 .u-text-1 {
    margin-right: 152px;
    font-size: 6rem;
  }

  .u-section-3-2 .u-text-2 {
    margin-left: 2px;
    margin-right: 26px;
  }

  .u-section-3-2 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 96px;
  }

  .u-section-3-2 .u-text-2 {
    margin-right: 60px;
    margin-left: 33px;
  }

  .u-section-3-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
}.u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 826px;
}

.u-section-3-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 98px auto 0 314px;
}

.u-section-3-3 .u-text-2 {
  margin: 53px auto 0;
}

.u-section-3-3 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/hc5.jfif");
  background-position: 50% 50%;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 75px;
    margin-right: 300px;
    margin-left: auto;
  }

  .u-section-3-3 .u-text-2 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-3-3 .u-image-1 {
    width: 410px;
    height: 410px;
    margin-top: 29px;
    margin-right: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3-3 .u-text-1 {
    margin-right: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-3-3 .u-text-1 {
    margin-right: 172px;
    font-size: 6rem;
  }

  .u-section-3-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 108px;
  }

  .u-section-3-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
}.u-section-3-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-3-4 .u-sheet-1 {
  min-height: 826px;
}

.u-section-3-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 93px auto 0;
}

.u-section-3-4 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3-4 .u-image-1 {
  width: 460px;
  height: 460px;
  background-image: url("images/71.jpg");
  background-position: 50% 50%;
  margin: 30px 322px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3-4 .u-text-1 {
    width: auto;
    margin-top: 63px;
  }

  .u-section-3-4 .u-text-2 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-3-4 .u-image-1 {
    width: 427px;
    height: 427px;
    margin-top: 33px;
    margin-right: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-3-4 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3-4 .u-image-1 {
    width: 460px;
    height: 460px;
    margin-right: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-3-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
}.u-section-3-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fondo.jpg");
}

.u-section-3-5 .u-sheet-1 {
  min-height: 826px;
}

.u-section-3-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3-5 .u-text-2 {
  margin: 21px 269px 0 229px;
}

.u-section-3-5 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/hc4.jfif");
  background-position: 50% 50%;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 168px;
    margin-left: 129px;
  }

  .u-section-3-5 .u-image-1 {
    width: 411px;
    height: 411px;
    margin-top: 47px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3-5 .u-text-2 {
    margin-left: 19px;
    margin-right: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-3-5 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-3-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-3-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-3-6 .u-sheet-1 {
  min-height: 826px;
}

.u-section-3-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 110px auto 0;
}

.u-section-3-6 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-3-6 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/hc3.jfif");
  background-position: 50% 50%;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3-6 .u-image-1 {
    width: 395px;
    height: 395px;
    margin-top: 0;
    margin-left: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-3-6 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3-6 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-3-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3-6 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }
}.u-section-3-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-3-7 .u-sheet-1 {
  min-height: 826px;
}

.u-section-3-7 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 53px auto 0;
}

.u-section-3-7 .u-text-2 {
  margin: 22px auto 0;
}

.u-section-3-7 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/113.jpg");
  background-position: 50% 50%;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-7 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3-7 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 37px;
  }

  .u-section-3-7 .u-text-2 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-3-7 .u-image-1 {
    width: 435px;
    height: 435px;
    margin-top: 54px;
    margin-right: 241px;
  }
}

@media (max-width: 991px) {
  .u-section-3-7 .u-sheet-1 {
    min-height: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-3-7 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-3-7 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3-7 .u-image-1 {
    margin-right: 105px;
  }
}

@media (max-width: 575px) {
  .u-section-3-7 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-3-7 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3-7 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
}.u-section-3-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/fondo.jpg");
  background-position: 50% 50%;
}

.u-section-3-8 .u-sheet-1 {
  min-height: 826px;
}

.u-section-3-8 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 55px 194px 0 auto;
}

.u-section-3-8 .u-text-2 {
  margin: 15px 484px 0 416px;
}

.u-section-3-8 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/113.jpg");
  background-position: 50% 50%;
  margin: 15px auto 60px 251px;
}

@media (max-width: 1199px) {
  .u-section-3-8 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3-8 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 70px;
    margin-right: auto;
  }

  .u-section-3-8 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 365px;
    margin-left: 337px;
  }

  .u-section-3-8 .u-image-1 {
    width: 410px;
    height: 410px;
    margin-top: 31px;
    margin-left: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-3-8 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3-8 .u-text-2 {
    margin-left: 294px;
    margin-right: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-3-8 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-3-8 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3-8 .u-text-2 {
    margin-left: 221px;
    margin-right: 165px;
  }

  .u-section-3-8 .u-image-1 {
    margin-left: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-3-8 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-3-8 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3-8 .u-text-2 {
    margin-left: 139px;
    margin-right: 65px;
  }

  .u-section-3-8 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }
}.u-section-1 {
  min-height: 741px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 741px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: "Alex Brush";
  line-height: 0.8;
  width: 454px;
  margin: 20px auto 0;
}

.u-section-1 .u-line-1 {
  width: 100px;
  height: 3px;
  border-style: double;
  margin: 10px auto 0;
}

.u-section-1 .u-text-3 {
  width: 424px;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 741px;
  background-image: url("images/10.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 611px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 611px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-2 {
    width: 410px;
  }

  .u-section-1 .u-text-3 {
    width: 410px;
  }

  .u-section-1 .u-image-1 {
    min-height: 611px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-text-2 {
    width: 300px;
  }

  .u-section-1 .u-text-3 {
    width: 300px;
  }

  .u-section-1 .u-image-1 {
    min-height: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 802px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 702px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 702px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 542px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-1 .u-image-1 {
    min-height: 442px;
  }
}.u-section-2 {
  min-height: 800px;
}

.u-section-2 .u-shape-1 {
  height: 630px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -560px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 455px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 30px 80px 40px;
}

.u-section-2 .u-text-1 {
  font-family: "Kaushan Script";
  font-size: 4.0625rem;
  margin: 0;
}

.u-section-2 .u-table-1 {
  width: 400px;
  margin: 29px auto 0 10px;
}

.u-block-9c41-40 {
  height: 46px;
}

.u-block-9c41-52 {
  height: 46px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  margin: 38px auto 0 0;
  padding: 10px 57px 11px 56px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 105px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 560px;
}

.u-section-2 .u-image-1 {
  object-position: 50% 100%;
  width: 550px;
  height: 550px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 993px;
  }

  .u-section-2 .u-shape-1 {
    height: 623px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 155px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-table-1 {
    width: 425px;
    margin-right: -25px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 42px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 213px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 800px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 50px;
    height: 470px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 2041px;
  }

  .u-section-2 .u-shape-1 {
    height: 1013px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -983px;
    margin-left: calc(((100% - 720px) / 2) + -15px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 245px;
  }

  .u-section-2 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-2 .u-table-1 {
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 29px;
    margin-left: 11px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 861px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1221px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    min-height: 409px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 646px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 913px;
  }

  .u-section-2 .u-shape-1 {
    height: 853px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    min-height: 130px;
    margin-top: -824px;
    margin-left: calc(((100% - 340px) / 2));
    margin-bottom: 14px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-table-1 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 407px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-block-20b4-5 {
  position: absolute;
  width: 288px;
  height: 12px;
  left: calc(((100% - 1140px) / 2)  + 408px);
  top: auto;
  right: auto;
  bottom: 57px;
}

.u-block-20b4-6 {
  background-image: none;
  width: 65px;
  height: 65px;
  left: calc(((100% - 1140px) / 2)  + -65px);
  top: 455px;
  right: auto;
  position: absolute;
}

.u-block-20b4-7 {
  background-image: none;
  width: 65px;
  height: 65px;
  left: auto;
  top: 461px;
  right: calc(((100% - 1140px) / 2)  + -65px);
  position: absolute;
}

@media (max-width: 1199px) {
  .u-block-20b4-5 {
    left: calc(((100% - 940px) / 2)  + 308px);
  }

  .u-block-20b4-6 {
    left: calc(((100% - 940px) / 2)  + -54px);
  }

  .u-block-20b4-7 {
    right: calc(((100% - 940px) / 2)  + -54px);
  }
}

@media (max-width: 991px) {
  .u-block-20b4-5 {
    left: calc(((100% - 720px) / 2)  + 198px);
  }

  .u-block-20b4-6 {
    left: calc(((100% - 720px) / 2)  + -41px);
  }

  .u-block-20b4-7 {
    right: calc(((100% - 720px) / 2)  + -41px);
  }
}

@media (max-width: 767px) {
  .u-block-20b4-5 {
    left: calc(((100% - 540px) / 2)  + 108px);
  }

  .u-block-20b4-6 {
    left: calc(((100% - 540px) / 2)  + -31px);
  }

  .u-block-20b4-7 {
    right: calc(((100% - 540px) / 2)  + -31px);
  }
}

@media (max-width: 575px) {
  .u-block-20b4-5 {
    left: calc(((100% - 340px) / 2)  + 8px);
  }

  .u-block-20b4-6 {
    left: calc(((100% - 340px) / 2)  + -20px);
  }

  .u-block-20b4-7 {
    right: calc(((100% - 340px) / 2)  + -20px);
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/9.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1138px;
}

.u-section-4 .u-text-1 {
  font-size: 4.0625rem;
  font-family: "Kaushan Script";
  font-weight: 700;
  margin: 49px auto 0 320px;
}

.u-section-4 .u-layout-wrap-1 {
  min-height: 348px;
  margin: 46px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 378px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-table-1 {
  width: 290px;
  margin: 0 auto;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-table-cell-2 {
  font-size: 0.625rem;
}

.u-section-4 .u-table-2 {
  width: 290px;
  margin: -37px 0 0 auto;
}

.u-block-8635-63 {
  height: 46px;
}

.u-block-8635-78 {
  height: 46px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 244px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-table-3 {
  width: 282px;
  margin: 0 auto 0 0;
}

.u-block-8635-90 {
  height: 46px;
}

.u-block-8635-101 {
  height: 46px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 498px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-table-4 {
  margin: 0 auto 0 -100px;
}

.u-block-8635-117 {
  height: 46px;
}

.u-block-8635-132 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2110px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -38px;
    margin-left: 264px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 9px;
    min-height: 152px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-4 .u-table-1 {
    width: 233px;
  }

  .u-section-4 .u-table-2 {
    width: 233px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 201px;
  }

  .u-section-4 .u-table-3 {
    width: 233px;
  }

  .u-section-4 .u-table-4 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 15px;
    margin-left: 202px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    min-height: 123px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-4 .u-table-1 {
    width: 160px;
  }

  .u-section-4 .u-table-2 {
    width: 160px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-4 .u-table-3 {
    width: 160px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 126px;
    margin-left: 152px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-4 .u-table-1 {
    width: 292px;
    margin-right: 28px;
  }

  .u-section-4 .u-table-2 {
    margin-top: -36px;
    margin-right: 94px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-4 .u-table-3 {
    width: 203px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 709px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 113px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 311px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-4 .u-table-1 {
    width: 256px;
    margin-top: -313px;
    margin-left: 5px;
  }

  .u-section-4 .u-table-cell-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-table-2 {
    width: 250px;
    margin-top: -46px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-4 .u-table-3 {
    width: 244px;
    margin-top: -81px;
    margin-left: auto;
    margin-bottom: -256px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 446px;
  }

  .u-section-4 .u-table-4 {
    margin-top: 156px;
    margin-bottom: -460px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: url("images/15.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-5 .u-group-1 {
  width: 647px;
  min-height: 688px;
  background-image: none;
  margin: 145px auto 60px 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-5 .u-text-1 {
  font-size: 4.0625rem;
  letter-spacing: 1px;
  font-family: "Kaushan Script";
  font-weight: normal;
  margin: 2px 0 0;
}

.u-section-5 .u-table-1 {
  margin: 20px -50px 0 auto;
}

.u-block-19b7-17 {
  height: 46px;
}

.u-block-19b7-40 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-5 .u-group-1 {
    min-height: 684px;
    margin-top: 122px;
    margin-left: 11px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-5 .u-group-1 {
    width: 437px;
    margin-top: 285px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-5 .u-group-1 {
    width: 409px;
    min-height: 771px;
    margin-top: 116px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    background-position: 68.43% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-5 .u-group-1 {
    min-height: 745px;
    margin-top: 91px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 40px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 759px;
}

.u-section-6 .u-shape-1 {
  width: 639px;
  height: 586px;
  margin: 123px -53px 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  margin: -649px 0 50px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 681px;
}

.u-section-6 .u-container-layout-1 {
  padding: 70px 0 30px;
}

.u-section-6 .u-text-1 {
  font-size: 5.625rem;
  line-height: 1;
  font-weight: 400;
  margin: 0 -143px 0 0;
}

.u-section-6 .u-table-1 {
  width: 400px;
  margin: 20px auto 0 44px;
}

.u-block-33da-66 {
  height: 46px;
}

.u-section-6 .u-table-body-1 {
  background-image: none;
}

.u-block-33da-77 {
  height: 46px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 681px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  height: 538px;
  width: 538px;
  background-image: url("images/cafesn.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-6 .u-shape-1 {
    width: 509px;
    height: 467px;
    margin-right: -39px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -530px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-6 .u-text-1 {
    font-size: 5rem;
    width: auto;
    margin-right: -164px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-6 .u-image-1 {
    height: 454px;
    width: 454px;
    margin-top: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-6 .u-shape-1 {
    width: 383px;
    height: 373px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -435px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
    margin-right: -121px;
  }

  .u-section-6 .u-table-1 {
    width: 344px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-6 .u-image-1 {
    height: 318px;
    width: 318px;
    margin-top: 73px;
    margin-right: 7px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1421px;
  }

  .u-section-6 .u-shape-1 {
    width: 593px;
    height: 543px;
    margin-top: 763px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -1245px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-6 .u-text-1 {
    font-size: 6rem;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 621px;
  }

  .u-section-6 .u-image-1 {
    height: 511px;
    width: 511px;
    margin-top: -16px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-6 .u-shape-1 {
    width: 386px;
    height: 365px;
    margin-top: 615px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -919px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-table-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-6 .u-image-1 {
    height: 330px;
    width: 330px;
    margin-right: 7px;
    margin-left: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 61px 0 3px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 427px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-table-1 {
  width: 488px;
  margin: 30px auto 0 0;
}

.u-block-08fe-43 {
  height: 46px;
}

.u-block-08fe-54 {
  height: 46px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 211px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 638px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  height: 469px;
  background-image: url("images/licuados.jpg");
  background-position: 50% 50%;
  margin: 30px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-7 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-7 .u-table-1 {
    width: 454px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 129px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 539px;
  }

  .u-section-7 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: 469px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1662px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-7 .u-text-1 {
    font-size: 7.5rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 806px;
  }

  .u-section-7 .u-image-1 {
    height: 690px;
    width: 690px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1194px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-7 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 605px;
  }

  .u-section-7 .u-image-1 {
    height: 540px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-table-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 93px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 381px;
  }

  .u-section-7 .u-image-1 {
    height: 335px;
    width: 335px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/sxc.jpg");
  background-position: 50% 50%;
  min-height: 500px;
}

.u-section-8 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 719px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0 30px 50px;
}

.u-section-8 .u-text-1 {
  font-size: 4.6875rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 48px 8px 0 -8px;
}

.u-section-8 .u-table-1 {
  width: 452px;
  margin: 84px auto 0 0;
}

.u-block-5dd5-21 {
  height: 46px;
}

.u-block-5dd5-36 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 291px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-text-1 {
    font-size: 4.5625rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 158px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 477px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 30px 50px 30px 10px;
  }

  .u-section-8 .u-text-1 {
    font-size: 4.6875rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 718px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 45px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-8 .u-table-1 {
    width: 330px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-9 .u-image-1 {
  width: 768px;
  min-height: 496px;
  background-image: url("images/xs.jpg");
  background-position: 50% 50%;
  margin: 241px 0 0 auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  width: 809px;
  height: 588px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -677px 83px 0 auto;
}

.u-section-9 .u-group-2 {
  min-height: 642px;
  width: 625px;
  height: auto;
  margin: -277px auto 52px 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 40px 50px;
}

.u-section-9 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -35px 0 0;
}

.u-section-9 .u-table-1 {
  width: 371px;
  margin: 30px auto 0 21px;
}

.u-block-5cca-21 {
  height: 46px;
}

.u-block-5cca-36 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    min-height: 483px;
  }

  .u-section-9 .u-image-2 {
    width: 747px;
    object-position: 44.28% 50%;
    background-position: 44.28% 50%;
    margin-top: -664px;
  }

  .u-section-9 .u-group-2 {
    min-height: 455px;
    margin-top: -128px;
  }

  .u-section-9 .u-table-1 {
    height: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-9 .u-image-1 {
    width: 567px;
    min-height: 385px;
  }

  .u-section-9 .u-image-2 {
    width: 597px;
    height: 498px;
    margin-top: -566px;
    margin-right: 55px;
  }

  .u-section-9 .u-group-2 {
    min-height: 460px;
    width: 469px;
    margin-top: -48px;
  }

  .u-section-9 .u-container-layout-2 {
    padding: 30px 30px 60px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-9 .u-image-1 {
    min-height: 407px;
    width: 436px;
    margin-top: 154px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    height: 421px;
    width: 484px;
    margin-top: -501px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-group-2 {
    min-height: 550px;
    width: 405px;
    margin-top: -44px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3.375rem;
  }

  .u-section-9 .u-table-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-9 .u-image-1 {
    min-height: 396px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-2 {
    height: 379px;
    width: 299px;
    margin-top: -358px;
  }

  .u-section-9 .u-group-2 {
    min-height: 538px;
    margin-top: -32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.875rem;
    margin-top: -17px;
  }

  .u-section-9 .u-table-1 {
    width: 320px;
    margin-top: 12px;
  }
}